body {
  background-color: limegreen;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
}

button {
  color: white;
  border: 2px solid white;
  padding: 1em;
  border-radius: 5px;
  background-color: limegreen;
  width: 200px;
  margin: auto;
  @media screen and (min-width: $break-medium) {
    font-size: 1.3em;
    width: 50vw;
    padding: 1em;
  }
  @media screen and (min-width: $break-large) {
    font-size: 1.6em;
  }
}
