.content-wrapper {
  height: 45vh;
  margin-top: 35%;
  margin-left: 2em;
  margin-right: 2em;
  @media screen and (min-width: $break-medium) {
    margin-top: 30%;
    height: 30vh;
    margin-left: 3em;
    margin-right: 3em;
  }
  @media screen and (min-width: $break-medium) {
    margin-top: 35%;
    height: 30vh;
    margin-left: 5em;
    margin-right: 5em;
  }
}

.quote {
  margin-bottom: 0.5em;
}
.author {
  margin-top: 1.5em;
  @media screen and (min-width: $break-large) {
    margin-top: 1em;
  }
}
